**/.dockerignore
**/Dockerfile*
**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.idea/
**/*.user
**/*.suo
**/*.md
**/*.http
**/appsettings.Development.json
**/Properties/launchSettings.json
**/.git/
**/.gitignore
